# Created by .ignore support plugin (hsz.mobi)
**/target/*
*.ipr
*.iml
*.iws
*.idea
spider.log
**/build/*
.gradle/*
.DS_Store
**/.DS_Store
build/
frontenda
node_modules
!**/node_modules/riot-mui
**/npm-debug.log