gp-pictureunit{
	display: block;
	margin-bottom: 35px;
	.desc{
		@extend .thinfont;
		text-transform: capitalize;
		padding:4px 8px;
		font-size: 18px;
	}
	.taglink{
		@extend .thinfont;
		padding:2px 8px;
		font-size: 14px;
	}
}