gp-picture{
	display: block;
	position: relative;
	background-color: #eee;
	.pic{
		position: relative;
		width: 100%;
		z-index: 2;
		background-color: #fff;
		&.loading{
			background-color: transparent;
		}
	}
	.loader{
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
		width: 100px;
		margin: auto;
	}
	.icon-pic{
		height: 100px;
		width: 100px;
	}
	.clone{
		@extend .thinfont;
		vertical-align: middle;
		z-index: 3;
		position: absolute;
		bottom: 16px;
		right: 10px;
		color:#666;
		background-color: #eee;
		border:1px solid #eee;
		border-radius: 3px;
		will-change: transform;
		transition-duration:100ms;
		transition-property: opacity;
		opacity: 0;
		&.shown{
			opacity: 1;
		}
	}
}