gp-profile{
	display: block;
	.cover{
		height: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-filter:blur(15px);
		filter:blur(15px);
	}
	.userinfo{
		display: flex;
		position: relative;
		z-index: 2;
		margin-top:-50px;
		margin-left: 15px;

	}
	.userpic{
		border-radius: 50%;
	}
	.userdetails{
		padding: 25px 15px;
	}
	.username{
		@extend .thinfont;
		text-transform: lowercase;
		font-size: 28px;
	}
	.followers{
		padding-top: 5px;
		font-size: 14px;
	}
	.stats{
		padding-top: 5px;
		font-size: 14px;
	}
	.stat{
		display: inline-block;
	}
	.count{
		@extend .boldfont;
	}
	.stat+.stat{
		margin-left: 10px;
	}
	.usercontent{
		margin-top: 20px;
	}
	material-tabs{
		material-button{ background-color: transparent; }	
		material-button .content .text{
			@extend .thinfont;
			color: #ccc;

		}
		material-button.selected .content .text{
			color: #333;
		}
		.line-wrapper{
			height: 1px;
		}
		.line-wrapper .line{
			background-color:#333;
		}
	} 
}