<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/bin/tags/concat_css.css">
</head>
<body>
	<gp-header></gp-header>
	<gp-navbar></gp-navbar>
	<gp-modal></gp-modal>
	<div class="container app-body">
	</div>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<script type="text/javascript" src="/bin/js/vendor.js"></script>
	<script type="text/javascript" src="/bin/tags/tags.js"></script>
	<script type="text/javascript">
		window.apiBase="http://54.93.115.203:8080";
		window.defaultHeaders={
			"content-type":"application/json"
		};
		riot.mount("gp-header",{});
		riot.mount("gp-navbar",{});
		riot.mount("gp-modal",{});
		veronica.addRoute(veronica.createRoute("home","/","gp-home"));
		veronica.addRoute(veronica.createRoute("login","/login","gp-login"));
		veronica.addRoute(veronica.createRoute("search","/search","gp-search"));
		veronica.addRoute(veronica.createRoute("profile","/profile/:pid","gp-profile"));
		veronica.addRoute(veronica.createRoute("draw","/draw","gp-draw"));
	</script>
	<script>
		(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
	    window.fbAsyncInit = function() {
		  FB.init({
		    appId      : '983251245105922',
		    cookie     : true,  // enable cookies to allow the server to access 
		                        // the session
		    xfbml      : true,  // parse social plugins on this page
		    version    : 'v2.5' // use graph api version 2.5
		  });
	  };
	</script>

</body>
</html>