* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif; }

h1 {
  margin: 0px;
  padding: 0px; }

.app-body {
  padding-top: 58px; }

.hidden {
  display: none; }

gp-draw {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto auto auto;
  width: 100%;
  height: 90%; }
  gp-draw canvas, gp-draw .upper-canvas {
    width: 100%;
    height: 90%; }
  gp-draw .save {
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #FFEB3B;
    border: 1px solid #FFEB3B;
    outline: none;
    animation: comeFromDown 100ms linear;
    animation-fill-mode: forwards;
    will-change: transform; }

@keyframes comeFromDown {
  0% {
    transform: translateY(100px); }
  100% {
    transform: translateY(-100px); } }

gp-home {
  display: block; }

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

gp-profile {
  display: block;
  padding: 0 10px; }
  gp-profile .tabs {
    display: flex; }
  gp-profile .tab {
    padding: 10px;
    flex: 1;
    text-align: center; }
    gp-profile .tab.selected {
      box-shadow: 0 5px 5px -5px #666; }
  gp-profile .num {
    font-size: 22px;
    pointer-events: none; }
  gp-profile .label {
    color: #999;
    font-size: 18px;
    pointer-events: none; }
  gp-profile .followers {
    font-size: 16px;
    text-orientation: none; }

.userinfo {
  display: flex;
  align-items: center;
  padding: 15px 15px 40px 15px;
  border-bottom: 1px solid #ddd; }
  .userinfo .userpic {
    border-radius: 50%;
    max-width: 100px; }
  .userinfo .info {
    flex: 1;
    padding-left: 15px; }
  .userinfo .name {
    font-size: 26px; }
  .userinfo .desc {
    font-size: 16px;
    color: #999; }

.content {
  margin-top: 10px; }
  .content .imagelink {
    display: inline-block;
    width: 33%;
    padding-right: 5px; }
  .content .imgthumb {
    width: 100%; }

.pr {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: block; }
  .pr .info {
    color: #333;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px; }
  .pr .sender {
    display: inline-block;
    border-radius: 50%;
    max-width: 50px;
    vertical-align: middle; }
  .pr .source {
    float: right;
    vertical-align: middle;
    max-width: 50px; }

gp-search {
  display: block;
  padding: 40px 10px; }
  gp-search .q {
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid #999; }
  gp-search .loader {
    text-align: center; }
  gp-search .results {
    margin-top: 25px; }
  gp-search .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px dotted #999; }
  gp-search .ppl, gp-search .tags {
    margin: 15px 10px; }
  gp-search .ppl .content {
    white-space: nowrap;
    max-width: 100%;
    overflow: scroll;
    text-align: left; }
  gp-search .content {
    text-align: center;
    padding: 5px 0; }
  gp-search .tag {
    text-decoration: none;
    margin: 2px 5px; }
    gp-search .tag:after {
      content: ','; }
    gp-search .tag:last-child:after {
      content: ''; }
  gp-search .usernail {
    display: inline-block;
    margin: 5px 10px;
    text-align: center; }
  gp-search .pic {
    border-radius: 50%;
    width: 50px; }

gp-tagpics {
  display: block; }

gp-userpic {
  display: block;
  margin: 10px 0;
  padding-bottom: 15px; }
  gp-userpic .userinfo {
    padding: 5px 10px;
    display: flex;
    align-items: center; }
  gp-userpic .piccontainer {
    flex: 1; }
  gp-userpic .userpic {
    border-radius: 50%;
    vertical-align: middle; }
  gp-userpic .username {
    flex: 8;
    vertical-align: middle;
    color: #262626;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700; }
  gp-userpic .time {
    flex: 1;
    vertical-align: middle;
    color: #aaa;
    font-weight: 300;
    float: right; }
  gp-userpic .img-painting {
    width: 100%; }
  gp-userpic .painting {
    position: relative; }
  gp-userpic .copy {
    border-radius: 50%;
    background-color: rgba(66, 66, 66, 0.7);
    border-width: 0px;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    transition-property: transform opacity;
    transition-duration: 300ms;
    opacity: 1;
    transform: scale(1); }
    gp-userpic .copy.hidden {
      opacity: 0;
      display: inline-block;
      transform: scale(0.1); }

gp-header {
  display: block;
  padding: 10px;
  background-color: #5d3cb2;
  position: fixed;
  width: 100%;
  z-index: 5; }

h1 {
  font-weight: 300;
  color: #fff;
  display: inline-block;
  margin-left: 10px; }

.menu {
  background-color: transparent;
  border-color: transparent;
  padding: 5px;
  float: right;
  outline: 0px; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: #5d3cb2;
  text-align: center;
  transition-property: opacity; }

.icon {
  flex: 1; }
