*{
	box-sizing: border-box;
}

a{
	text-decoration: none;	
}

body{
	margin:0px;
	padding:0px;
	background-color:rgb(247,247,247);
	font-family: 'Roboto', sans-serif;
}

h1{
	margin:0px;
	padding:0px;
}

.app-body{
	padding-top:58px;
}

.hidden{
	display: none;
}
gp-draw{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto auto auto;
    width: 100%;
    height: 90%;	
	canvas,.upper-canvas{
		width: 100%;
    	height: 90%;
	}
	.save{
		border-radius: 50%;
		position: fixed;
		bottom: 10px;
		right: 10px;
		padding:10px;
		background-color: #FFEB3B;
		border:1px solid #FFEB3B;
		outline: none;
		animation: comeFromDown 100ms linear;
		animation-fill-mode: forwards;
		will-change:transform;
	}
}

@keyframes comeFromDown{
	0%{transform: translateY(100px);}
	100%{transform: translateY(-100px);}
}

gp-home{
	display:block;
}
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;
.loader {
  position: relative;
  margin: 0px auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}
gp-profile{
	display:block;
	padding: 0 10px;
	.tabs{
		display: flex;
	}
	.tab{
		padding:10px;
		flex: 1;
		text-align: center;
		&.selected{
			box-shadow: 0 5px 5px -5px #666;
		}
	}
	.num{
		font-size: 22px;
	}
	.label{
		color: #999;
		font-size: 18px;
	}
	.followers{
		font-size: 16px;
		text-orientation: none;
	}
}

.userinfo{
	display: flex;
	align-items: center;
	padding: 15px 15px 40px 15px;
	border-bottom: 1px solid #ddd;
	.userpic{
		border-radius: 50%;
		max-width: 100px;
	}
	.info{
		flex: 1;
		padding-left: 15px;
	}
	.name{
		font-size: 26px;
	}
	.desc{
		font-size: 16px;
		color:#999;
	}
}
gp-search{
	display: block;
	padding: 40px 10px;
	.q{
		font-weight: 300;
		width: 100%;
		font-size: 24px;
		background-color: transparent;
		outline: 0px;
		border:0px;
		border-bottom: 1px solid #999;
	}
	.loader{
		text-align: center;
	}
	.results{
		margin-top: 25px;
	}
	.title{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 18px;
		border-bottom: 1px dotted #999;
	}
	.ppl, .tags{
		margin: 15px 10px;
	}

	.ppl .content{
		white-space: nowrap;
		max-width: 100%;
		overflow: scroll;
		text-align: left;
	}

	.content{
		text-align: center;
		padding: 5px 0;
	}
	.tag{
		text-decoration: none;
		margin:2px 5px;
		&:after{
			content:',';
		}
	}

	.usernail{
		display: inline-block;
		margin: 5px 10px;
		text-align: center;
	}

	.pic{
		border-radius: 50%;
		width: 50px;
	}
}
gp-tagpics{
	display: block;
}
gp-userpic{
	display:block;
	margin: 10px 0;
	padding-bottom: 15px;
	.userinfo{
		padding:5px 10px;
		display: flex;
		align-items: center;
	}
	.piccontainer{
		flex:1;
	}
	.userpic{
		border-radius: 50%;
		vertical-align: middle;
	}
	.username{
		flex:8;
		vertical-align: middle;
		color: #262626;
		margin-left: 10px;
		font-size: 18px;
		font-weight: 700;
	}
	.time{
		flex:1;
		vertical-align: middle;
		color:#aaa;
		font-weight: 300;
		float:right;
	}
	.img-painting{
		width:100%;
	}
	.painting{
		position:relative;
	}
	.copy{
		border-radius: 50%;
		background-color: rgba(66,66,66,0.7);
		border-width: 0px;
		padding: 15px;
		position: absolute;
		bottom: 20px;
		right:15px;
		transition-property: transform opacity;
		transition-duration: 300ms;
		opacity: 1;
		transform: scale(1);
		&.hidden{
			opacity:0;
			display: inline-block;
			transform: scale(0.1);
		}
	}
}


gp-header{
	display:block;
	padding:10px;
	background-color: rgb(93,60,178);
	position: fixed;
	width:100%;
}

h1{
	font-weight: 300;
	color:#fff;
	display: inline-block;
	margin-left: 10px;
}

.menu{
	background-color: transparent;
	border-color: transparent;
	padding: 5px;
	float: right;
	outline:0px;
}

.nav{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width:100%;
	background-color: rgb(93,60,178);
	text-align: center;
	transition-property: opacity;
}

.icon{
	flex:1;
}