gp-header{
	position: fixed;
	z-index: 10;
	left: 0px;
	top:0px;
	width: 100%;
	.header{
		display: flex;
		align-items: center;
		background-color: #3F51B5;
		padding: 15px 0;
		height: 66px;
		will-change: background-color;
		transition-property: background-color;
		transition-duration: 300ms;
		
		&.profile{
			background-color: transparent;
			.title{
				opacity: 0;
			}
		}
		&.profile.forceshow{
			background-color: #3F51B5;
			.title{
				opacity: 1;
			}	
		}
	}

	.nav{
		flex:1;
	}

	.title{
		flex:8;
	}

	.search{
		flex:1;
	}

	h1{
		color: #fff;
		margin:0;
		padding: 0;
		font-size: 24px;
	}

	.menu{
		background-color: transparent;
		border-width: 0px;
		padding: 5px 15px;
		outline: none;
		will-change:transform;
		transition-property:transform;
		transition-duration:300ms;
		.line{
			will-change:transform;
			transition-property:transform;
			transition-duration:100ms;
		}
		.line-first{
			    transform: translateY(-10px);
		}
		.line-second{
			    transform: translateY(-5px);
		}
		.line-third{

		}
		&.back{
			transform:rotate(360deg);
			.line-first{
				    transform: translate3d(-11px, 2px, 0px) rotateZ(-45deg) scaleX(0.73);
			}
			.line-second{
				    transform: translateY(-5px) scaleX(1.3);
			}
			.line-third{
				transform: translate3d(13px, -2px, 0px) rotateZ(45deg) scaleX(0.7);
			}	
		}
	}
}