gp-header{
	display:block;
	padding:10px;
	background-color: rgb(93,60,178);
	position: fixed;
	width:100%;
	z-index:5;
}

h1{
	font-weight: 300;
	color:#fff;
	display: inline-block;
	margin-left: 10px;
}

.menu{
	background-color: transparent;
	border-color: transparent;
	padding: 5px;
	float: right;
	outline:0px;
}

.nav{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width:100%;
	background-color: rgb(93,60,178);
	text-align: center;
	transition-property: opacity;
}

.icon{
	flex:1;
}