gp-pullrequest{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto auto auto;
    width: 100%;
    height: 90%;	
	canvas{
		width: 100%;
    	height: 90%;
    	margin-top: 62px;
    	position: relative;
    	z-index: 2;
	}
	#bgcanvas{
		position: absolute;
	    top: 0px;
	    width: 100%;
	    left: 0px;
	    z-index: 1;
	}
	.accept,.pr{
		z-index: 3;
		border-radius: 50%;
		position: fixed;
		bottom: 10px;
		right: 10px;
		padding:10px;
		background-color: #FFEB3B;
		border:1px solid #FFEB3B;
		outline: none;
		animation: comeFromDown 100ms linear;
		animation-fill-mode: forwards;
		will-change:transform;
	}
	.pr{
		bottom: 70px;
	}
}

@keyframes comeFromDown{
	0%{transform: translateY(100px);}
	100%{transform: translateY(-100px);}
}
