gp-userpic{
	display:block;
	margin: 10px 0;
	.userinfo{
		padding:5px 10px;
		display: flex;
		align-items: center;
	}
	.userpic{
		flex:1;
		border-radius: 50%;
		vertical-align: middle;
	}
	.username{
		flex:8;
		vertical-align: middle;
		color: #262626;
		margin-left: 10px;
		font-size: 18px;
		font-weight: 700;
	}
	.time{
		flex:1;
		vertical-align: middle;
		color:#aaa;
		font-weight: 300;
		float:right;
	}
	.img-painting{
		width:100%;
	}
}