gp-profile{
	display: block;
	position: relative;
	gp-followbutton{
		position: absolute;
		bottom:16px;
		right:16px;
	}
	.profilepic{
		@extend .userbgpic;
		position: relative;
		margin-top: -4px;
		min-height: 300px;
		transition-delay:600ms;
		transition-duration:300ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-property:-webkit-filter;
		will-change:-webkit-filter;
		-webkit-filter: saturate(0);

		&.loaded{
			-webkit-filter: saturate(1);
		}
	}
	.loader{
		text-align: center;
	}
	.username{
		@extend .boldfont;
		color: #fff;
		position: absolute;
		left: 60px;
		top: 70px;
		text-transform: lowercase;
		font-size: 34px;
		word-spacing: 999px;
		line-height: 45px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	}
	.followers{
		padding-top: 5px;
		font-size: 14px;
	}
	.stats{
		padding-top: 5px;
		font-size: 14px;
	}
	.stat{
		display: inline-block;
	}
	.count{
		@extend .boldfont;
	}
	.stat+.stat{
		margin-left: 10px;
	}
	.usercontent{
		max-width: 100%;
		overflow: hidden;
	}
	.tabcontent{
		white-space: nowrap;
		will-change: transform;
		transition-duration: 300ms;
		transition-property: transform;
		&.tab1{
			transform:translateX(-100vw);
		}
	}
	.tab{
		display: inline-block;
		width: 100vw;
		min-height: 600px;
		vertical-align: top;
	}
	.ownedcontainer{
		display: flex;
		flex-wrap: wrap;
	}
	.piclink{
		background-color: #fff;
		flex: 1;
		flex-basis: 33%;
		max-width: 33.3%;
		border-bottom: 2px solid #fafafa;
		&:nth-child(3n-2){
			border-right: 2px solid #fafafa;
		}
		&:nth-child(3n){	
			border-left: 2px solid #fafafa;
		}
	}
	.ownedpic{
	}
	material-tabs{
		material-button{ 
			background-color: transparent; 
			padding: 8px 0;
			height: auto;
			width: 50%;
		}
		material-button .content .text{
			@extend .thinfont;
			color: #ccc;

		}
		material-button.selected .content .text{
			color: #333;
		}
		.line-wrapper{
			height: 1px;
		}
		.line-wrapper .line{
			background-color:#333;
		}
	} 
}
