gp-profile{
	display:block;
	padding: 0 10px;
	.tabs{
		display: flex;
	}
	.tab{
		padding:10px;
		flex: 1;
		text-align: center;
		&.selected{
			box-shadow: 0 5px 5px -5px #666;
		}
	}
	.num{
		font-size: 22px;
		pointer-events: none;
	}
	.label{
		color: #999;
		font-size: 18px;
		pointer-events: none;
	}
	.followers{
		font-size: 16px;
		text-orientation: none;
	}
}

.userinfo{
	display: flex;
	align-items: center;
	padding: 15px 15px 40px 15px;
	border-bottom: 1px solid #ddd;
	.userpic{
		border-radius: 50%;
		max-width: 100px;
	}
	.info{
		flex: 1;
		padding-left: 15px;
	}
	.name{
		font-size: 26px;
	}
	.desc{
		font-size: 16px;
		color:#999;
	}
}

.content{
	margin-top: 10px;
	.imagelink{
		display: inline-block;
		width: 33%;
		padding-right: 5px;
	}
	.imgthumb{
		width: 100%;
	}
}


.pr{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: block;

	.info{
		color: #333;
		font-size: 16px;
		vertical-align: middle;

		margin-left: 10px
	}
	.sender{
		display: inline-block;
		border-radius: 50%;
		max-width: 50px;
		vertical-align: middle;
	}
	.source{
		float: right;
		vertical-align: middle;
		max-width: 50px;
	}

}

