*{
	box-sizing: border-box;
}

body{
	margin:0px;
	padding:0px;
	background-color:rgb(247,247,247);
	font-family: 'Roboto', sans-serif;
}

h1{
	margin:0px;
	padding:0px;
}

.app-body{
	padding-top:58px;
}

.hidden{
	display: none;
}