body{
	padding: 0;
	margin: 0;
	background-color: #fafafa;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	&.noscroll{
		overflow: hidden;
	}
}

*{
	box-sizing:border-box;
}

a{
	text-decoration: none;
}


.hidden{
	display: none;
}


.page{
	padding-top: 66px;
	&.gp-profile{
		padding-top: 0px;
	}
}



@keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}